<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930588986366-ptjlsp79smi53rq1o7h03o46rqbcbnlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930588986366-ptjlsp79smi53rq1o7h03o46rqbcbnlb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930588986366-09s6gokn7m8j9g4ulu9ordgh2nt2uea7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-UyIi05DD0p7YbZywO70KyhJBa9tJ0No</string>
	<key>GCM_SENDER_ID</key>
	<string>930588986366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demo.q-u-i-l-t.app</string>
	<key>PROJECT_ID</key>
	<string>quilt-8c01a</string>
	<key>STORAGE_BUCKET</key>
	<string>quilt-8c01a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930588986366:ios:bede092cdf4d96c83e4eaf</string>
</dict>
</plist>